html,
body {
    background-color: #050533;
    height: 100%;

}
h1 {
    font-family: 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono';
    font-size: 32px; 
    font-style: normal; 
    font-variant-caps: petite-caps;
    font-weight: bold; 
    line-height: 26.399999618530273px;
    background-color: #E34234;
    color:#F2F1E8;
    padding: 15px 2%;
    height:100%;  
    margin: 0.2%;
    border-radius: 1%;
    border: double;
}

h4 {
    background-color: #050533;
    color: #F2F1E8;
    font-size: 18px; 
    margin: 2.5%;
    padding: 15px 3%;
    height:100%;
    font-weight: 100;
}

.column1 {

    float: left;
    width:  48.2%;
    margin: 0.2%;
    border-radius: 1%;
    border: double;

    background-color: #F2F1E8;
    color: #050533;

    font-style: normal;
    font-family: 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono';
    font-size: 20px;
    font-weight: 100;

    text-align: center;
}

.column2 {

    float: left;
    width:  48.2%;
    height:  350px;
    margin: 0.2%;
    border-radius: 1%;
    border: double;

    background-color: #F2F1E8;
    color: #050533;

    font-style: normal;
    font-family: 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono';
    font-size: 20px;
    font-weight: 100;

    text-align: center;
}



.row: after {
    content: "";
    display:  table;
    clear:  both;
}

img {
    border: 1px solid  #050533;
}

table {
    font-size: 10px;
    font-family: 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono';
    text-align: center;
    word-spacing: -4px;
    align-content: middle;
    align-items: center;
}


#read {
    background-color: white;
    color: #050533;
    padding: 16px 32px;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono';
    font-weight: 400;
}

#read:hover {
  background-color: #050533;
  color: #F2F1E8;
}
